@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c__custom-multiple-carousel .react-multiple-carousel__arrow {
  background-color: white;
  border: 2px solid #004de8;
  height: 44px;
  width: 44px;
}
.c__custom-multiple-carousel
  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: calc(4% + 10px);
}
.c__custom-multiple-carousel.custom__single-carousel
  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: 1%;
}
.c__custom-multiple-carousel
  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: 1%;
}
.c__custom-multiple-carousel .react-multiple-carousel__arrow:hover {
  background-color: #004de8;
}

.c__custom-multiple-carousel .react-multiple-carousel__arrow::before {
  color: #004de8;
}
.c__custom-multiple-carousel .react-multiple-carousel__arrow:hover::before {
  color: white;
}
.c__custom-multiple-carousel .react-multi-carousel-dot-list {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
  justify-content: flex-start;
}
